<!-- templates/comisiones/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Comisiones{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'Logo-INN.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
     <!-- Encabezado -->
    <header>
        
    </header>
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="{% static 'logo-Inn-Blanco.png' %}" alt="Logo Innovet">
        <ul>
            <li><a href="{% url 'dashboard' %}">
                <span class="material-icons">dashboard</span> Dashboard
            </a></li>
            <li><a href="{% url 'vendedor' %}">
                <span class="material-icons">person</span> Vendedor
            </a></li>
            <li><a href="{% url 'cliente-list' %}">
                <span class="material-icons">group</span> Lista de Clientes
            </a></li>
            <li><a href="{% url 'productos' %}">
                <span class="material-icons">inventory</span> Productos
            </a></li>
            <li><a href="{% url 'cliente-producto' %}">
                <span class="material-icons">category</span> Cliente Producto
            </a></li>
            <li><a href="{% url 'facturas' %}">
                <span class="material-icons">receipt</span> Factura
            </a></li>
            <li><a href="{% url 'compras' %}">
                <span class="material-icons">shopping_cart</span> Compras
            </a></li>
            <li><a href="{% url 'ventas' %}">
                <span class="material-icons">trending_up</span> Ventas
            </a></li>
            <li><a href="{% url 'calcular-comisiones' %}">
                <span class="material-icons">attach_money</span> Calcular Comision
            </a></li>
        </ul>
    </div>

    <!-- Contenido principal -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
