{% extends "comisiones/base.html" %}

{% block title %}Calcular Comisiones{% endblock %}

{% block content %}
<h1>Calcular Comisiones</h1>
<form method="get">
    <label for="cliente">Cliente:</label>
    <select name="cliente" id="cliente">
        <option value="">Seleccionar Cliente</option>
        {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
        {% endfor %}
    </select>

    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ fecha_inicio }}">

    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" name="fecha_fin" id="fecha_fin" value="{{ fecha_fin }}">

    <button type="submit">Filtrar</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>Factura</th>
            <th>Vendedor</th>
            <th>Sub Total</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% if facturas.exists %}
            {% for factura in facturas %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.cliente.vendedor.nombre }}</td>
                <td>${{ factura.subtotal }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No hay facturas para mostrar. Por favor, aplica un filtro.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<script>
    function calcular(facturaId) {
        alert('Calculando comisiones para factura ' + facturaId);
        
    }
</script>
{% endblock %}
